@import url(/common.css);
@import url(/Components/button/button.css);
.landing-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.landing-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 59rem;
}

.header{
    color: var(--primary-color);
    font-weight: var(--fw-bold);
    font-size: 8rem;
}

.sub-header{
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: var(--fw-semi);
}

.landing-detail{
    font-size: 1.5rem;
}
.landing-button{
    margin-top: 1.5rem;
    display: flex;
    gap: var(--spacing7);
    margin-left: var(--spacing1);
}