

/* card container */
.card-container{
    width:23rem;
    padding: var(--spacing7);
    display: flex;
    flex-direction: column;
    gap:var(--spacing5);
    background-color: rgb(238,237,240);
    border-radius: var(--br-small);
    position: relative;
    max-width: 100%;
}
/* title of card */
.card-title{
    font-size: var(--fs2);
    text-transform: uppercase;
    font-weight: var(--fw-black);
    margin-bottom: 0;
}
/* subtitle of card */
.card-subtitle{
    font-size: var(--fs3);
    margin: 0;
}
/* description of card */
.card-description{
    line-height: 1.33;
}
/* dismiss button */
.card-dismiss-btn{
    max-width: max-content;
    margin-left: auto;
}
/* overlay text */
.card-text-overlay{
    position: absolute;
    bottom:0rem;
    color: white;
}
/* card image */
.card-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.img-container{
    position: relative;
    display: flex;
    flex-direction: column;
}


/* card badge */
.card-badge{
    padding: 0.2rem 0.6rem;
    background-color: var(--primary-color);
    color: var(--white);
    position: absolute;
    text-align: center;
    padding-right: var(--spacing5);
    top: 0;
    left: 0;
    
    border-bottom-right-radius: var(--br-small);
   
}
/* vertical card */
.card-vertical{
    width: 14.5rem;
}

/* horizontal card */
.card-horizontal{
 width: 30rem;
 flex-direction: row;
}
.img-box{
    width: 100%;
    display: flex;
    flex-direction:column;
}

/* card shadow */
.card-shadow{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.233);
}


/* product card */
.product-card{
    padding: 0;
    text-align: center;
    width: 25rem;
}
.product-card .img-container{
    width: 100%;
}

.product-card .btn{
    margin-top: var(--spacing12);
    text-transform: uppercase;
}

.product-card h1{
    font-size: var(--fs4);
    font-weight: var(--fw-semi);
}
.product-card h2{
    font-size: var(--fs3);
    font-weight: var(--fw-bold);
}
.product-card .fav-icon{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    padding: 10px;
    top: 5px;
    right: 5px;
}
.product-card .fav-icon:hover{
    color:#FF1B1B;
}