<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Utilities/utlities.css">
    <title>Utilities</title>
</head>
<body>
    <h1>This is heading 1</h1>
    <h2>This is heading 2</h2>
    <h3>This is heading 3</h3>
    <h4>This is heading 4</h4>
    <h5>This is heading 5</h5>
    <h6>This is heading 6</h6>
<br>

    <p class="fs1">Font-size1</p>
    <p class="fs2">Font-size2</p>
    <p class="fs3">Font-size3</p>
    <p class="fs4">Font-size4</p>
    <p class="fs5">Font-size5</p>

    <br>
    <p class="fw-black">Font-weight 900</p>
    <p class="fw-bold">Font-weight 700</p>
    <p class="fw-semi">Font-weight 600</p>
    <p class="fw-regular">Font-weight 400</p>
    <p class="fw-light">Font-weight 300</p>
    <br>

    <p class="text-left">Text left</p>
    <p class="text-center">Text center</p>
    <p class="text-right">Text right</p>
</body>
</html>