
/* font sizes */
.fs1{
 font-size: var(--fs1);
}

.fs2{
    font-size: var(--fs2);
}

.fs3{
    font-size: var(--fs3);
}

.fs4{
    font-size: var(--fs4);
}

.fs5{
    font-size: var(--fs5);
}
/* font-weight */
.fw-black{
    font-weight: 900;
}
.fw-bold{
    font-weight: 700;
}
.fw-semi{
    font-weight: 600;
}
.fw-regular{
    font-weight: 400;
}
.fw-light{
    font-weight: 300;
}

/* Text alignment*/
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}