<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/navbar/navbar.css">
    <title>Navbar</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navigation-bar">
        <a class="nav-heading" href="#">Brand name</a>
        <div class="search-box">
            <input type="search">
            <button>Go</button>
        </div>

        <ul class="nav-action-btn">
            <li> 
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
    
</body>

</html>