@import url(/common.css);
.navigation-bar{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 1rem;
    align-items: center;
    min-height: 3rem;
}
.navigation-bar input{
    padding: 5px 10px;
    min-width: 30rem;
}
.navigation-bar button{
    padding: 5px 10px;
}
.navigation-bar .nav-heading{
    text-decoration: none;
    font-size: var(--fs1);
    color: black;
}
.navigation-bar li{
    list-style: none;
    
}
.nav-action-btn{
    display: flex;
    gap: 1rem;
    font-size: var(--fs3);
}
.nav-action-btn a{
    text-decoration: none;
    color: black;
}