<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/toast-component/toast.css">
    <title>Toast</title>
</head>
<body>
    <div class="toast">
        <p>This is normal toast</p>
    </div>
    <br>
    <div class="toast sucess">
        <p>This is sucess toast</p>
    </div>
    <br>
    <div class="toast failure">
        <p>This is failure toast</p>
    </div>
</body>
</html>