@import url(/common.css);
@import url(/Avatar/Avatar.css);
/* badges */
.badge{
    border-radius: var(--br-full);
    border: 2px solid white;
    position: absolute;
}
.badge-large{
    height: 1.8rem;
    width: 1.8rem;
    right: 5px;
    bottom: 5px;
}

.badge-medium{
    height: 1.5rem;
    width: 1.5rem;
    right: 5px;
    bottom: 5px;}
.badge-small{
    height: 1.3rem;
    width: 1.3rem;
    right: 2px;
    bottom: 2px;
    
}

/* badge colors */
.badge--color--green{
    background-color: green;   
}

.badge--color--red{
    background-color: red;
}

.badge--color--yellow{
    background-color: yellow; 
}


/* icon badge */

.icon-container{
    font-size: var(--fs2);
    position: relative;
}
.icon-badge{
    height: 18px;
    width: 18px;
    background-color: #ef4444;
    display: block;
    border-radius: var(--br-full);
    position: absolute;
    top:0px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}