@import url(/common.css);

/* button */

.btn{
    background-color: lightgray;
    border: 0;
    border-radius:var(--br-small);
    color: black;
    font-size: var(--fs3);
    font-family: inherit;
    padding: var(--spacing4) var(--spacing6);
    cursor: pointer;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.109);
}

/* primary button */
/* hover color for primary rgb(38,215,171)
hover color for secondary rgb(246,246,247) */
.btn-primary{
    color: var(--white);
    background-color: var(--primary-color);
    transition: 0.2s;
}

/* secondary button */
.btn-secondary{
    color: #3d3d3d;
    background: none;
    border: 2px solid var(--primary-color);
    transition: 0.2s;
}
/* disabled button */
.btn-disabled{
    background-color: rgb(147,147,147);

}

/* hover effects for buttons */

/* hover for primary button */
.btn-primary:hover{
    background-color:var(--primary-hover-color) ;
}
/* hover for secondary button */
.btn-secondary:hover{
    background-color: var(--secondary-hover-color);
}


/* outlined button */
.btn-outlined{
    background:none;
    border: 2px solid var(--secondary-color) ;
    

}
/* outlined button hover */
.btn-outlined:hover{
    background-color:var(--secondary-hover-color) ;
    color: white;
}


/* text button */
.btn-text-primary{
    color: black;
    background: none;
    box-shadow: none;
}
.btn-text-primary:hover{
    color: var(--white);
    background-color: var(--primary-color)
}

.btn-text-secondary{
    background: none;
    box-shadow: none;
}

.btn-text-secondary:hover{
    background-color: rgb(147,147,147);
}

/* icon btn */
.btn-icon i{
    margin-right: 0.2rem;
}
/* floating action buttons */
.btn-floating{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }