@import url(/common.css);

/* avatar-container */
.container {
    display: flex;
    gap:var(--spacing7);
    align-items: center;

}

/* avatar */
.avatar {

    width: 7rem;
    height: 7rem;
    border: 2px solid gray;
    position: relative;
}

.avatar-circle {
    border-radius: var(--br-full);
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* avatar sizes */
.avatar-large {
    width: 9rem;
    height: 9rem;
}

.avatar-medium {
    width: 7rem;
    height: 7rem;
}

.avatar-small {
    width: 5rem;
    height: 5rem;
}