@import url(/common.css);
/* alert container */
.alert-container{
    align-items: center;
    border-radius: var(--br-small);
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.253);
    display: flex;
    font-weight:var(--fw-semi);
    gap:var(--spacing7);
    margin-bottom: var(--spacing7);
    padding: var(--spacing7);
    width: 32.5rem;
}

/* red error alert */
.red-error-alert{
    background-color: rgb(255,157,157);
    color: rgb(145,17,17);
    
}

/*  yellow warning alert */
.yellow-warning-alert{
    background-color: rgb(255,239,114);
    color: rgb(72,70,40);
}

/* blue information alert */
.blue-info-alert{
    background-color: rgb(173,228,255);
    color: rgb(61,98,138);
    
}

/* green success alert */
.green-success-alert{
    background-color: rgb(189,255,163);
    color: rgb(67,109,60);
    
}

/* alert close icon */
.alert-container-close{
    margin-left: auto;
}