<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alert.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <title>Alert</title>
</head>
<body>
    <div class="alert-container red-error-alert">
        <i class="fas fa-exclamation-circle"></i> <p>This is an error alert - check it out!</p>
        <i class="alert-container-close fas fa-times"></i> 
    </div>
    <div class="alert-container yellow-warning-alert">
        <i class="fas fa-exclamation-triangle"></i> <p>This is a warning alert — check it out!</p>
        <i class="alert-container-close fas fa-times"></i> 
    </div>
    <div class="alert-container blue-info-alert">
        <i class="fas fa-info-circle"></i>
        <p>This is an info alert — check it out!</p> 
        <i class="alert-container-close fas fa-times"></i>
    </div>
    <div class="alert-container green-success-alert">
        <i class="fas fa-check-circle"></i> 
        <p>This is a success alert — check it out!</p>
        <i class="alert-container-close fas fa-times"></i> 
    </div>
    
</body>
</html>