@import url(/common.css);
@import url(/Alert/alert.css);
@import url(/button/button.css);
@import url(/Avatar/Avatar.css);
@import url(/badge/badge.css);
@import url(/button/button.css);

.breakr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
}
.page-container{
    /* height: 100vh; */
    padding-bottom: 5rem;
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: grid;
    gap: 1rem;
    grid-template-columns: 350px repeat(3,1fr);
    grid-template-rows: 5rem;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar page page ..."
    "sidebar page page ...";
}
/* navbar */
.navbar{
    grid-area: nav;
    display: flex;
    align-items: center;
    border: 2px solid red;
    height: 5rem;
    justify-content: space-between;
}

.brand-name{
    margin-left: var(--spacing6);
    font-size: var(--fs2);
}
.nav-icons{
    margin-right: var(--spacing6);
    display: flex;
    list-style: none;
    gap: var(--spacing6);
    font-size: var(--fs3);
}

/* sidebar */
.sidebar{
    grid-area: sidebar;
    display: flex;
    padding-left: 1.1rem;
    flex-direction: column;
    gap: var(--spacing6);
    border: 1px solid gold;
}
.main-content{
    grid-area: page;
    /* position: relative; */
    border: 1px solid green;
    padding: 0 1.2rem;
}
/* page titles */
.page-title{
    font-size: var(--fs1);
    padding-bottom: var(--spacing6);
}
/* content head */
.content-head{
    font-size: var(--fs2);
}

/* page description */
.content-description{
    font-size: var(--fs3);
    color: var(--secondary-color);
    margin-bottom: var(--spacing14);
}

/* iframe style */
.iframe-wrapper{
    position: relative;
    overflow: hidden;
    padding-top: 30%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-bottom: var(--spacing7);
}

.code-snippet{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* component-container */
.component-container{
    display: flex;
    flex-direction: column;
    padding: var(--spacing8);
    background-color: var(--secondary-hover-color);
    align-items: center;
    margin:1rem 3rem    ;
}

.component-horizontal{
    flex-direction: row;
    justify-content: space-evenly;
    gap: var(--spacing7);
    flex-wrap: wrap;
}