<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/list-component/list.css">
    <title>Lists</title>
</head>
<body>
    <h1>Simple List</h1>
    <ul class="list">
        <span class="list-heading">Simple list</span>
        <li>Alpha</li>
        <li>Bravo</li>
        <li>Charlie</li>
    </ul>
    <br>
    <h1>Stacked List</h1>
    <ul class="list list-stacked">
        <li>Alpha</li>
        <li>Bravo</li>
        <li>Charlie</li>
        <li>Delta</li>
    </ul>
    <h1>Spaced list</h1>
    <ul class="list list-spaced">
        <span class="list-heading">Simple list</span>
        <li>Alpha</li>
        <li>Bravo</li>
        <li>Charlie</li>
    </ul>

</body>
</html>